.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    height: 30px;
    
    z-index: 1;

    transition-timing-function: ease-in;
    transition: all 0.5s;
}
.nav__black{
    color: white;
    background-color: #111;
}
.nav__black .div__links .nav__links li a{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
.nav__links{
    text-decoration: none;
    list-style: none;
    color: black;
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
    align-items: center;
}
.div__logo h2{
    margin: 0;
    padding: 0;
}
.div__logo{
    margin: 0;
    padding: 0;
}
.div__links{
    display: block;
    align-items: center;
    align-content: center;
    padding-top: 5px;
}
.div__links ul{
    margin: 0;
    padding: 0;
}
.div__links ul a{
    margin: 0;
    padding: 0;
}
.nav__links li a{
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
}
.nav__logo{
    position: fixed;
    left: 20;
    object-fit: contain;
    margin: 10px;
    padding: 0px;
    align-self: center;
}
.nav__logo h1{
    position: fixed;
    left: 20;
    object-fit: contain;
    margin: 0;
    padding: 0px;
    align-self: center;
}
.nav__avatar{
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
